{% extends "base.html" %}
{% block title %}Caso 2 - Éxito ML{% endblock %}
{% block content %}

<article class="blog-post">
    <header class="mb-4">
        <h1 class="fw-bold">Caso 2: Casos de exitos del machine learning en la educación </h1>
        <p class="text-muted">
            Publicado el <time datetime="2025-09-03">3 de septiembre de 2025</time> · Autor: Equipo de Investigación
        </p>
    </header>

    <figure class="mb-4">
        <img src="https://www.algotive.ai/hs-fs/hubfs/00%20Blog/03%20Machine%20Learning%20ejemplos/5_aplicaciones_machine_learning.png?width=3207&name=5_aplicaciones_machine_learning.png" 
             width="850" height="300"
             class="img-fluid rounded" 
             alt="Imagen representativa del caso">
        <figcaption class="text-muted mt-2">
            Imagen ilustrativa del caso de estudio
        </figcaption>
</figure>

    <section class="mb-4">
        <p class="lead">
            Human AI está transformando el sector educativo mediante el desarrollo de competencias claves y 
            la promoción del desarrollo socioemocional con inteligencia artificial, no solo potenciando 
            el aprendizaje personalizado, sino que también impulsa su desarrollo personal preparando a los 
            estudiantes para los desafíos de su futuro profesional. 
        </p>
        <p>
            Es por esto que Human AI trabaja con instituciones del sector educativo para promover el 
            desarrollo socioemocional de cada alumno, sea en etapa escolar, de formación profesional o universitaria. 
        </p>
        <p>
            Entre sus casos de éxito tenemos:
        </p>
        <p>
        •El Colegio Jesuitinas: El Colegio Jesuitinas de Pamplona ha integrado el Modelo Educativo de Acompañamiento 
        Personalizado (MEDAP) utilizando la IA de Human AI para evaluar y desarrollar competencias socioemocionales en 
        sus estudiantes facilitando un desarrollo integral que va más allá del rendimiento académico.
        </p>
        <p>
        •Cifp del mar: En Gijón, el CIFP del Mar utiliza Human AI para preparar a sus estudiantes en competencias 
        socioemocionales críticas para su futuro profesional. Esta solución facilita un seguimiento más detallado y 
        personalizado, adaptando las intervenciones educativas a las necesidades específicas del sector marítimo. 
        </p>
        <p>
        •Red educativa itinere: la colaboración entre la Red Educativa Itínere y Human AI combina innovación pedagógica 
        con tecnología avanzada. Esta alianza transforma el desarrollo de competencias socioemocionales a través de una 
        inteligencia artificial diseñada para ser ética y basada en evidencia científica. Además, posiciona a la región 
        como líder en la integración de IA en la educación.
        </p>
        <p>
            Como vemos en la educación están teniendo varios casos de éxito que muestran cómo la inteligencia 
            artificial puede mejorar la enseñanza, personalizar el aprendizaje y optimizar la gestión académica. 
            Entre otros ejemplos serian: 
        </p>
        <p>
            1. Duolingo: La plataforma ajusta las lecciones en función del progreso y los errores de cada usuario. 
            Logrando que los estudiantes reciben ejercicios adaptados a su nivel de conocimiento, lo que mejora la retención 
            y la motivación. 
            ¿Como se realizó esto? 
        </p>
        <p>
            o	Modelos de secuencia (Recurrent Neural Networks, LSTM, GRU): Para predecir la siguiente respuesta de un 
            estudiante
        </p>
        <p>
            o	Modelos de refuerzo (Reinforcement Learning): Para optimizar la dificultad de los ejercicios.
        </p>
        <p>
            2. Coursera y edX: Recomiendan cursos y contenidos según los intereses, el historial y nivel del estudiante. 
            Incrementando la probabilidad de éxito académico y reduce la deserción en cursos online masivos.
            Para esto utilizo:
        </p>
        <p>
            o	Sistemas de recomendación colaborativos (Collaborative Filtering, Matrix Factorization).
        </p>
        <p>
            o	Modelos de clustering (K-means, DBSCAN): Para agrupar estudiantes con intereses similares.
        </p>
        <p>           
            3. Knewton: Plataforma de aprendizaje adaptativo que analiza el comportamiento de los estudiantes para ajustar 
            el contenido en tiempo real. Mejorando el aprendizaje individualizado, acelerando el avance en los temas dominados 
            y reforzando los débiles.
            De la siguiente manera: 
        </p>
        <p>
            o	Bayesian Knowledge Tracing y Item Response Theory (IRT): Medir la probabilidad de que un estudiante domine un tema.
        </p>
        <p>
            o	Redes Neuronales profundas: Para ajustar contenidos en tiempo real.
        </p>
    </section>


    <footer class="border-top pt-3">
        <small class="text-muted">
            Referencias 
            <p>
                Human AI.(2025, 22 enero). Cómo Human AI contribuye en la educación. Human AI.
               <li><a href= "https://humanaitech.com/ia-en-educacion-casos-de-impacto" target="_blank">Human AI</a></li>
            </p>
        </small>
    </footer>
</article>

{% endblock %}